@tailwind base;
@tailwind components;
@tailwind utilities;

.devto {
    @apply prose text-left
    prose-headings:text-white 
    prose-headings:m-1
    prose-headings:leading-5
    prose-headings:mb-1.5
    prose-h1:text-3xl
    prose-h1:font-bold
    prose-h2:text-2xl
    prose-h2:font-bold
    prose-h3:text-xl
    prose-h3:font-bold
    prose-h4:text-lg
    prose-h4:font-bold
    prose-strong:text-inherit
    prose-p:m-1
    prose-p:mb-1.5
    prose-p:text-white
    prose-devtoStyle
    prose-li:text-white
    prose-li:m-0
    prose-ul:m-0
    prose-th:text-white
    prose-th:font-bold
    prose-th:bg-black
    prose-th:p-2
    prose-td:p-2
    prose-th:text-base
    prose-table:border-2
    prose-table:border-gray-600
    prose-code:overflow-auto
    prose-code:text-white
    prose-ol:text-white
    prose-hr:m-4;
}
